.logo-webstudio {
  color: var(--blue-text);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  outline-color: var(--blue-text);
}

.logo-webstudio__studio {
  color: var(--black-text);
}

.logo-webstudio__studio-footer {
  color: var(--white-text100);
}
