.page-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.page-header__container {
  align-items: center;
  height: 60px;
  justify-content: space-between;

  @media (max-width: 767px) {
    position: relative;
  }
  @media (min-width: $tablet) {
    height: 80px;
  }
}

.page-header__site-nav,
.contact-list {
  @media (max-width: 767px) {
    display: none;
  }
}

.page-header__site-nav {
  @media (min-width: $desktop) {
    margin-left: 93px;
  }
}

.nav-list {
  @media (min-width: $tablet) {
    display: flex;
    padding: 0px;
    margin: 0px;
  }
}

.nav-list__item:not(:first-child) {
  margin-left: 50px;
}

.nav-list__link {
  color: var(--black-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--blue-text);
    outline: none;
  }
}

.nav-list__link--current {
  position: relative;
  color: var(--blue-text);
  padding: 32px 0px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue-text);
    border-radius: 2px;
  }
}

.contact-list {
  margin: 0px;
  padding: 0px;

  @media (min-width: $desktop) {
    margin-left: auto;
    display: flex;
  }
}

.contact-list__link {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:hover,
  &:focus {
    color: var(--blue-text);
  }
}

.contact-list__item:last-child {
  @media (max-width: 1199px) {
    margin-top: 10px;
  }

  @media (min-width: $desktop) {
    margin-left: 30px;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header__mobileMenu-button {
  padding: 0px;
  border: none;
  height: 40px;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--blue-text);
  outline: none;

  &:hover,
  &:focus {
    fill: currentColor;
  }
  @media (min-width: $tablet) {
    display: none;
  }
}
