.team {
  background-color: var(--background-white);
  padding: 94px 0px;
}

.team__container {
  margin-top: 50px;
}

.team__title {
  color: var(--black-text);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
}

.team__list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.team__item {
  position: relative;
  background-color: var(--white-text100);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.team__names {
  color: var(--black-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-top: 30px;
  text-align: center;
}

.team__text {
  color: var(--grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
